body {
  margin: 20px;
}

.quicknote {
}

.quicknote--editmode {
  border: 1px solid #ddd;
  padding: 20px;
}

.quicknote__header {

}

.quicknote__main {

}

.quicknote__main__title {

}

.quicknote__main__content {

}

.notedashboard__main__note {
  border: 1px solid #ece856;
  background: #fded30;
}
